{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>BS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type='text/css'>


  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="{% url 'post_list' %}">Strona Glowna</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% if user.is_authenticated %}{% url 'logout_view' %}{% else %}{% url 'login_view' %}{% endif %}">Log In/Out <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_new' %}">Nowy Post</a>
          </li>
          <li class="nav-item">
            {% url 'post_detail' pk=post.pk as target %}
            {% if request.get_full_path == target %}
              <a class="nav-link " href="{% url 'post_edit' pk=post.pk %}">Edytuj Post</a>
            {% else %}
            <a class="nav-link disabled" href="">Edytuj Post</a>
            {% endif %}

          </li>

        </ul
        <div class="form-inline my-2 my-lg-0" align="right">
          {% if user.is_authenticated %}<p> Witaj, {{ user.username }} </p>{% endif %}
        </div>

      </div>
    </nav>

    <main role="main">

            {% block content %}
            {% endblock %}

    </main>

    <footer class="container">
      <p>&copy; Blunder Squadron 2018-2069</p>
    </footer>

    </body>
</html>
