{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="container">

  <div class="row">
      <div class="col-sm-12">
    {% for post in posts reversed %}
        <div class="post" >
          <div class="date">
              {{ post.published_date }}
          </div>
            <h1 class = "inpost"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

            <p class = "inpost">{{ post.text|linebreaksbr }}</p>
            <p class = "inpost">~ {{ post.author }} </p>
        </div>
    {% endfor %}
  </div>
</div>

</div>
{% endblock %}
