body {
  padding-top: 3.5rem;
  background-color: #00072D;
}

.navbar {

  border-radius: 5px;
  background-color: #001C55;


}

.post {

    border-radius: 25px;
    background-color: #EEF9FE;
    padding: 1rem;
    margin-top: 15px;
    align-self: center;

}

.date {

    float: right;

}

p, h1, h2, h2 {

    color: #FAFFFD;
    font-family: 'Muli', sans-serif;

}

.inpost {

    color: #00072D;
    font-family: 'Muli', sans-serif;

}

.superleft {

    float: left;

}

.superright {

    float: right;

}
